Simulator/_SettingFiles/xsds/area.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:sh="https://github.com/Engin1980/J-ATC-Simulator/shared"
           xmlns:cm="https://github.com/Engin1980/J-ATC-Simulator/commands"
           targetNamespace="https://github.com/Engin1980/J-ATC-Simulator/area"
           xmlns="https://github.com/Engin1980/J-ATC-Simulator/area"
           elementFormDefault="qualified">

  <xs:element name="area" type="area"/>

  <xs:complexType name="area">
    <xs:sequence maxOccurs="unbounded">
      <xs:element name="meta" type="sh:meta" minOccurs="0" maxOccurs="1"/>
      <xs:element name="airports">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="airport" type="airport" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="navaids">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="navaid" type="navaid" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="borders">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="border" type="border" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="icao" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="navaid">
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction>
          <xs:enumeration value="airport"/>
          <xs:enumeration value="ndb"/>
          <xs:enumeration value="vor"/>
          <xs:enumeration value="fix"/>
          <xs:enumeration value="fixMinor"/>
          <xs:enumeration value="auxaliary"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="coordinate" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="border">
    <xs:sequence>
      <xs:element name="points">
        <xs:complexType>
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:choice minOccurs="0" maxOccurs="1">
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="point" type="point" maxOccurs="unbounded"/>
                <xs:element name="arc" type="arc" maxOccurs="unbounded"/>
                <xs:element name="crd" type="crd" maxOccurs="unbounded"/>
              </xs:choice>
            </xs:choice>
            <xs:element name="circle" type="circle" maxOccurs="1"/>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="disjoints" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="disjoint" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="tma"/>
          <xs:enumeration value="ctr"/>
          <xs:enumeration value="country"/>
          <xs:enumeration value="mrva"/>
          <xs:enumeration value="restricted"/>
          <xs:enumeration value="danger"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="enclosed" type="xs:boolean" use="required"/>
    <xs:attribute name="minAltitude" type="sh:flightLevelAltitude" use="optional"/>
    <xs:attribute name="maxAltitude" type="sh:flightLevelAltitude" use="optional"/>
    <xs:attribute name="labelCoordinate" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="crd">
    <xs:attribute name="coordinate" type="xs:string" use="required"/>
    <xs:attribute name="radial" type="xs:integer" use="required"/>
    <xs:attribute name="distance" type="xs:double" use="required"/>
  </xs:complexType>

  <xs:complexType name="circle">
    <xs:attribute name="coordinate" type="xs:string" use="required"/>
    <xs:attribute name="distance" type="xs:double" use="required"/>
  </xs:complexType>

  <xs:complexType name="point">
    <xs:attribute name="coordinate" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="arc">
    <xs:attribute name="coordinate" type="xs:string" use="required"/>
    <xs:attribute name="direction" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="clockwise"/>
          <xs:enumeration value="counterclockwise"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="airport">
    <xs:sequence maxOccurs="unbounded">
      <xs:element name="initialPosition" type="initialPosition"/>
      <xs:element name="atcTemplates">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="atcTemplate" type="atcTemplate" minOccurs="3" maxOccurs="3"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="runways">
        <xs:complexType>
          <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element name="runway" type="runway" maxOccurs="unbounded"/>
            <xs:element name="inactiveRunway" type="inactiveRunway" maxOccurs="unbounded"/>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="runwayConfigurations" minOccurs="0" maxOccurs="1" type="runwayConfigurations"/>
      <xs:element name="holds" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="hold" type="hold" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="entryExitPoints" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entryExitPoint" type="entryExitPoint" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="daRoutes" type="daGroup" minOccurs="1" maxOccurs="1"/>
      <xs:element name="iafRoutes" type="iafGroup" minOccurs="1" maxOccurs="1"/>
      <xs:element name="gaRoutes" type="gaGroup" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="icao" type="xs:string" use="required"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="altitude" type="xs:int" use="required"/>
    <xs:attribute name="transitionAltitude" type="xs:integer" use="required"/>
    <xs:attribute name="vfrAltitude" type="xs:integer" use="optional"/>
    <xs:attribute name="mainAirportNavaidName" type="xs:string" use="required"/>
    <xs:attribute name="declination" type="xs:double" use="required"/>
    <xs:attribute name="coveredDistance" type="xs:positiveInteger" use="required"/>
  </xs:complexType>

  <xs:complexType name="daGroup">
    <xs:choice>
      <xs:element name="group" type="daGroup" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="route" type="daRoute" minOccurs="0" maxOccurs="unbounded"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="iafGroup">
    <xs:choice>
      <xs:element name="group" type="iafGroup" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="iafRoute" type="iafRoute" minOccurs="0" maxOccurs="unbounded"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="gaGroup">
    <xs:choice>
      <xs:element name="group" type="gaGroup" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="gaRoute" type="gaRoute" minOccurs="0" maxOccurs="unbounded"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="runwayConfigurations">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
      <xs:element name="configuration">
        <xs:complexType>
          <xs:choice minOccurs="2" maxOccurs="unbounded">
            <xs:element name="arrivals" type="runwayThresholdConfiguration" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="departures" type="runwayThresholdConfiguration" minOccurs="1" maxOccurs="unbounded"/>
          </xs:choice>
          <xs:attribute name="windFrom" type="sh:heading" use="optional"/>
          <xs:attribute name="windTo" type="sh:heading" use="optional"/>
          <xs:attribute name="windSpeedFrom" type="sh:heading" use="optional"/>
          <xs:attribute name="windSpeedTo" type="sh:heading" use="optional"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="runwayThresholdConfiguration">
    <xs:attribute name="category" type="sh:planeCategory" use="optional"/>
    <xs:attribute name="name" type="sh:nonEmptyString" use="required"/>
    <xs:attribute name="primary" type="xs:boolean" use="optional"/>
    <xs:attribute name="showRoutes" type="xs:boolean" use="optional"/>
    <xs:attribute name="showApproach" type="xs:boolean" use="optional"/>
  </xs:complexType>


  <xs:complexType name="entryExitPoint">
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="entry|exit|both"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>


  <xs:complexType name="runway">
    <xs:sequence>
      <xs:element name="thresholds">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="threshold" type="threshold" minOccurs="2" maxOccurs="2"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="inactiveRunway">
    <xs:sequence>
      <xs:element name="thresholds">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="threshold" type="inactiveThreshold" minOccurs="2" maxOccurs="2"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="inactiveThreshold">
    <xs:attribute name="name" type="sh:nonEmptyString" use="required"/>
    <xs:attribute name="coordinate" type="sh:nonEmptyString" use="required"/>
  </xs:complexType>

  <xs:complexType name="threshold">
    <xs:choice minOccurs="0" maxOccurs="2">
      <xs:element name="approaches" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:choice maxOccurs="unbounded">
            <xs:element name="ilsApproach" type="ilsApproach" minOccurs="0" maxOccurs="1"/>
            <xs:element name="unpreciseApproach" type="unpreciseApproach" minOccurs="0" maxOccurs="2"/>
            <xs:element name="gnssApproach" type="gnssApproach" minOccurs="0" maxOccurs="1"/>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="name" type="sh:nonEmptyString" use="required"/>
    <xs:attribute name="coordinate" type="sh:nonEmptyString" use="required"/>
    <xs:attribute name="initialDepartureAltitude" type="sh:flightLevelAltitude" use="required"/>
    <xs:attribute name="mapping" type="mappingName" use="required"/>
    <xs:attribute name="preferred" type="xs:boolean" use="prohibited"/>
  </xs:complexType>

  <xs:simpleType name="mappingName">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Za-z0-9]+(;[A-Za-z0-9]+)*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="daRoute">
    <xs:complexContent>
      <xs:extension base="route">
        <xs:attribute name="type" use="required">
          <xs:simpleType>
            <xs:restriction>
              <xs:enumeration value="sid"/>
              <xs:enumeration value="star"/>
              <xs:enumeration value="transition"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="name" type="sh:nonEmptyString" use="required"/>
        <xs:attribute name="mapping" type="mappingName" use="required"/>
        <xs:attribute name="category" type="sh:planeCategory" use="optional"/>
        <xs:attribute name="entryFL" type="sh:flightLevelAltitude" use="optional"/>
        <xs:attribute name="mainFix" type="sh:nonEmptyString" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="approach">
    <xs:attribute name="radial" type="xs:int" use="required"/>
    <xs:attribute name="iafMapping" type="mappingName" use="required"/>
    <xs:attribute name="gaMapping" type="mappingName" use="required"/>
    <xs:attribute name="initialAltitude" type="xs:int" use="required"/>
  </xs:complexType>

  <xs:complexType name="routeCommands">
    <xs:choice>
      <xs:element name="then" type="cm:Then"/>
      <xs:element name="proceedDirect" type="cm:ToNavaid"/>
      <xs:element name="speed" type="cm:Speed"/>
      <xs:element name="altitude" type="cm:Altitude"/>
      <xs:element name="heading" type="cm:Heading"/>
      <xs:element name="hold" type="cm:Hold"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="gnssApproach">
    <xs:complexContent>
      <xs:extension base="approach">
        <xs:attribute name="daA" type="xs:int" use="required"/>
        <xs:attribute name="daB" type="xs:int" use="required"/>
        <xs:attribute name="daC" type="xs:int" use="required"/>
        <xs:attribute name="daD" type="xs:int" use="required"/>
        <xs:attribute name="glidePathPercentage" type="xs:double" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="unpreciseApproach">
    <xs:complexContent>
      <xs:extension base="approach">
        <xs:attribute name="type" use="required">
          <xs:simpleType>
            <xs:restriction>
              <xs:enumeration value="vor"/>
              <xs:enumeration value="ndb"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="faf" type="xs:string" use="required"/>
        <xs:attribute name="radial" type="xs:int" use="required"/>
        <xs:attribute name="mapt" type="xs:string" use="required" />
        <xs:attribute name="mdaA" type="xs:int" use="required"/>
        <xs:attribute name="mdaB" type="xs:int" use="required"/>
        <xs:attribute name="mdaC" type="xs:int" use="required"/>
        <xs:attribute name="mdaD" type="xs:int" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ilsApproach">
    <xs:complexContent>
      <xs:extension base="approach">
        <xs:sequence>
          <xs:element name="categories" minOccurs="1" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="category" type="ilsCategory" minOccurs="1" maxOccurs="3"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="glidePathPercentage" type="xs:double" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ilsCategory">
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction>
          <xs:enumeration value="I"/>
          <xs:enumeration value="II"/>
          <xs:enumeration value="III"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="daA" type="xs:int" use="required"/>
    <xs:attribute name="daB" type="xs:int" use="required"/>
    <xs:attribute name="daC" type="xs:int" use="required"/>
    <xs:attribute name="daD" type="xs:int" use="required"/>
  </xs:complexType>

  <xs:complexType name="iafRoutes">
    <xs:sequence>
      <xs:element name="route" type="iafRoute" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="iafRoute">
    <xs:complexContent>
      <xs:extension base="route">
        <xs:attribute name="type" use="required">
          <xs:simpleType>
            <xs:restriction>
              <xs:enumeration value="sid"/>
              <xs:enumeration value="star"/>
              <xs:enumeration value="transition"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="iaf" type="xs:string" use="required"/>
        <xs:attribute name="category" type="sh:planeCategory" use="optional"/>
        <xs:attribute name="iafMapping" type="mappingName" use="required"/>
      </xs:extension>
    </xs:complexContent>

  </xs:complexType>

  <xs:complexType name="gaRoutes">
    <xs:sequence>
      <xs:element name="gaRoute" type="gaRoute" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gaRoute">
    <xs:complexContent>
      <xs:extension base="route">
        <xs:attribute name="gaMapping" type="mappingName" use="required"/>
      </xs:extension>
    </xs:complexContent>

  </xs:complexType>

  <xs:complexType name="route">
    <xs:choice>
      <xs:element name="then" type="cm:Then"/>
      <xs:element name="proceedDirect" type="cm:ToNavaid"/>
      <xs:element name="speed" type="cm:Speed"/>
      <xs:element name="altitude" type="cm:Altitude"/>
      <xs:element name="heading" type="cm:Heading"/>
      <xs:element name="hold" type="cm:Hold"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="hold">
    <xs:attribute name="navaidName" type="xs:string" use="required"/>
    <xs:attribute name="inboundRadial" type="xs:int" use="required"/>
    <xs:attribute name="turn" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="atcTemplate">
    <xs:attribute name="type">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ctr"/>
          <xs:enumeration value="app"/>
          <xs:enumeration value="twr"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="frequency" type="xs:double"/>
    <xs:attribute name="releaseAltitude" type="xs:int"/>
    <xs:attribute name="acceptAltitude" type="xs:int"/>
    <xs:attribute name="orderedAltitude" type="xs:int"/>
    <xs:attribute name="ctrAcceptDistance" type="xs:int"/>
    <xs:attribute name="ctrNavaidAcceptDistance" type="xs:int"/>
  </xs:complexType>

  <xs:complexType name="initialPosition">
    <xs:attribute name="coordinate" type="xs:string" use="required"/>
    <xs:attribute name="range" type="xs:int" use="required"/>
  </xs:complexType>

</xs:schema>